/* Write your code here. */
.card {
  display: flex;
  background-color: #9796f0;
  border: solid;
  border-radius: 10px;
  border-color: #ffffff30;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.game-img {
  height: 250px;
}
.game-status {
  margin-right: 25px;
}
.heading {
  font-size: 35px;
  font-family: 'Roboto';
  color: #ffffff;
  margin-bottom: 5px;
}
.para {
  font-size: 25px;
  font-family: 'Roboto';
  color: #ffffff;
  text-align: center;
  font-weight: 600;
}
.count {
  font-size: 25px;
  font-family: 'Roboto';
  color: #6a59ff;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2px;
}
.button {
  font-size: 12px;
  font-family: 'Roboto';
  color: #3d3d3d;
  text-align: center;
  background-color: #ffce27;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  margin-left: 25px;
}
